/ = form_with(model: garin, local: true) do |form|
/   - if garin.errors.any?
/     #error_explanation
/       h2
/         = pluralize(garin.errors.count, "error")
/         | prohibited this garin from being saved:
/       ul
/         - garin.errors.full_messages.each do |message|
/           li= message
/   .field
/     = form.label :name
/     = form.text_field :name
/   .field
/     = form.label :money
/     = form.number_field :money
/   .actions
/     = form.submit
/
/ = simple_form_for(@garin) do |f|
/   = f.simple_fields_for :budgets do |budget|
/     p
/       = budget.input :name
/       br/
/       = budget.input :money
/   = f.submit


= simple_form_for @garin do |f|
	= f.input :name
	= f.input :start_money
	= f.button :submit
