@tailwind base;
@tailwind components;

// Custom SCSS
@import "components/buttons";
@import "components/forms";

@tailwind utilities;


.h-50vh{
  min-height: 50vh;
}
.min-w-full{
    min-width: 100%;
}

.numbers{
  direction: ltr;
  display: inline-block;
}
main{
  padding: 70px 0 50px 0;
}
main.root{
  padding: 26vh 0 50px 0;
}
header{
  background: linear-gradient(109.41deg, #0D4DAC 0%, #00265F 100%);
  box-shadow: 0px 0px 5px 0 #00000063;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 8;

}
header.root{
  min-height: 25vh;
}
a.title:visited{
  color: white !important;
}
a.title:hover{
  background: none !important;
}

aside{
  overflow-y: auto;
  position: fixed;
  height: 100vh;
  width: 0;
  background: linear-gradient(109.41deg, #0D4DAC 0%, #00265F 100%);
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: width 200ms;
  a{
    padding: 0 1rem;
    color: white;
  }
}
aside.open{
  width: 70vw;
  box-shadow: 50vw -91px 4px 50vw rgba(0,0,0,0.75);
  z-index: 9;
}

nav{
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  background: linear-gradient(109.41deg, #0D4DAC 0%, #00265F 100%);
  box-shadow: 0px 0px 5px 0 #00000063;
  display: flex;
  justify-content: space-around;
  height: 50px;
  align-items: center;
}

.hamburger{
  img{
    height: 1.5rem;
  }
}

.pointer-none{
  pointer-events: none;
}

.input, .select{
  border: none;
  background: none;
  input{
    border: 1px solid black;
    border: 1px solid #717171;
    padding: 1rem;
    width: 100%;
    direction: rtl;
    text-align: right;
    border-radius: 10px;
  }
}
