// Place all the styles related to the garins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.garin-budgets{
  margin: 1rem 0 3rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .garin-show-budget{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;
      color: white;
      div{
        background: linear-gradient(109.41deg, #0D4DAC 0%, #00265F 100%);
        width: 33vw;
        height: 33vw;
        border-radius: 4px;
        display: grid;
        align-items: center;
        grid-template-areas:
            "h1 h1"
            "first last";
        justify-content: center;
        text-align: center;
        h1{
          grid-area: h1;
          font-size: 1.5rem;
        }
        span:first-of-type{
          grid-area: first;
        }
        span:last-of-type{
          grid-area: last;
          font-size: 1.3rem
        }
      }
      div.red{
        background: red;
      }
      div.orange{
        background: orange
      }
    }
}
