<table class="data-tablea hover stripe row-border order-column" id="table" data-source="<%= transactions_path(format: :json) %>">
  <thead>
    <tr>
			<th data-data="user">משתמש</th>
      <th data-data="money">כמה יצא?</th>
      <th data-data="description">פירוט</th>
      <th data-data="date">תאריך</th>
      <th data-data="budget">קופה</th>
      <th data-data="url" ></th>
    </tr>
  </thead>
</table>
